* {
  box-sizing: border-box;
}

html { 
  font-family: 'roboto'; 
  font-size: 20px; 
  font-style: normal;
   font-variant: normal; 
   font-weight: 700; 
   line-height: 26.4px; 
  } 

body {
  margin: .5rem;
  background-color: #ffffff;
}



